<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/home">
      <p class="h1"><strong>Spring</strong> - Angular User Management Application</p>
    </a>
    <button class="navbar-toggler me-3" type="button" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngClass]="collapsed && 'collapse'">
      <ul class="navbar-nav mr-auto h5">
        <li class="nav-item active">
          <a type="button" class="btn btn-dark btn-lg" routerLinkActive="active" routerLink="/list">List User</a>
        </li>
        <li class="nav-item">
          <a type="button" class="btn btn-dark btn-lg" routerLinkActive="active" routerLink="/add">Add User</a>
        </li>
        <li class="nav-item">
          <a type="button" class="btn btn-dark btn-lg" routerLinkActive="active" routerLink="/search">Search</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
