<div *ngIf="!isLoading && feedback.feedbackType === 'error'" class="alert alert-danger" role="alert">
    {{ feedback.feedbackmsg }}
</div>
<div>
    <button type="button" (click)="pageDirection('DESC')" class="btn btn-light">
        <img src="assets/img/pageZA.png" style="width:40px; height:40px;" />
    </button>
    <button type="button" (click)="pageDirection('ASC')" class="btn btn-light">
        <img src="assets/img/pageAZ.png" style="width:40px; height:40px;" />
    </button>
</div>

<div class="container mt-5" *ngIf="isLoading">
    <div *ngFor="let customer of customer | 
                paginate: { itemsPerPage: customerPage, 
                currentPage: pagination + 1, 
                totalItems: totalCustomers}, let i = index">
        <h3>
            <strong>
                <img src="assets/img/person.png" style="width:30px; height:30px;" />
                Name:
            </strong>
            {{ customer.name }}
        </h3>
        <h3>
            <strong>
                <img src="assets/img/age.png" style="width:30px; height:30px;" />
                Age:
            </strong>
            {{ customer.age }}
        </h3>
        <h3>
            <strong>
                <img *ngIf="customer.active" src="assets/img/check.png" style="width:30px; height:30px;" />
                <img *ngIf="!customer.active" src="assets/img/x.png" style="width:27px; height:27px;" />
                Active:
            </strong>
            {{ customer.active }}
        </h3>
        <h3>
            <button *ngIf="customer.active" (click)="toggleActive(customer, i)" type="button" class="btn btn-warning">
                Inactive
            </button>
            <button *ngIf="!customer.active" (click)="toggleActive(customer, i)" type="button" class="btn btn-info">
                Active
            </button>

            <button type="button" (click)="deleteUser(customer.id, i)" class="btn btn-danger">
                Delete
            </button>
        </h3>
        <br><br>
    </div>
    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
    </div>
</div>